/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html {
    font-family: 'Montserrat', sans-serif !important;
    background: url(../images/background.JPEG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


nav ul a,
nav .brand-logo {
    color: #444;
}

nav {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

.header-stuff {
    transform: translate(-50%, -50%);
    top: 25%;
    left: 50%;
    position: absolute;
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    /*  .parallax-container .section {
        position: absolute;
        top: 40%;
      }*/
    /*  #index-banner .section {
        top: 10%;
      }*/
}

@media only screen and (max-width: 600px) {
    /*  #index-banner .section {
        top: 0;
      }*/
}

.welcomeBlock {
    padding: 0px 20px !important;
}

.contentRow {
    margin-top: 100vh;
}

#index-banner {
    height: 200vh;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.productContainer {
    margin: 50px auto;
}

.card {
    min-height: 342px;
}
